/* THEME CSS STARTS HERE */

.m-login.m-login--1 .m-login__content .m-login__welcome {
    color: #3d4246;
    font-size: 3.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

a {
    color: #3d4246;
}

.btn-focus {
    color: #fff;
    background: linear-gradient(to right, #3F3F3F, #848484, #070707);
    border-color: #848484;
}

.btn-focus:hover {
    border-color: #848484;
}

.btn-primary {
    color: #fff;
    background: linear-gradient(to right, #3F3F3F, #848484, #070707);
    border-color: #848484;
}

.btn-primary:hover {
    border-color: #848484;
}

li.m-menu__item.m-menu__item--active {
    background: #292b3a !important;
    border-left: 3px solid #f6a14c;
    color: #f6a14c !important;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__heading .m-menu__link-text,
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-text {
    color: #f6a14c;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__heading .m-menu__link-icon,
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-icon {
    color: #f6a14c;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item > .m-menu__heading .m-menu__link-text,
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item > .m-menu__link .m-menu__link-text {
    color: #98a6ad;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item > .m-menu__heading .m-menu__link-icon,
.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item > .m-menu__link .m-menu__link-icon {
    color: #98a6ad;
}

.btn.m-btn--label-brand {
    color: #f6a14c;
}

.feedback-card {
    box-shadow: 0 1px 15px 1px rgba(69, 65, 78, .08);
    background-color: #fff;
    margin-bottom: 25px;
    /*padding: 20px;*/
}

.fdback-prof {
    display: inline-block;
}

.fdback-det {
    display: inline-block;
    padding-left: 1rem;
    font-size: 1rem;
    vertical-align: middle;
}

.feedback-desc {
    display: block;
    padding: 20px;
    /*margin-top: 20px;*/
    border-top: 1px solid #e4e5e6;
}

.fdback-prof img.pro-pic {
    width: 4.2rem;
    border-radius: 50%;
}

.fdback-det span.user-name {
    font-size: 16px;
    font-weight: 500;
}

.fdback-det span.fdback-time {
    font-size: 13px;
    color: #575962;
}

.feedback-desc p.description {
    font-size: 14px;
    margin-bottom: 0px;
}

.feedback-top-sec {
    padding: 20px;
}

.m-link {
    color: #f6a14c;
}

.btn.btn-outline-focus {
    color: #848484;
}

.porterimage {
    width: 50%;
    margin-top: 0px;
    height: auto;
    border-radius: 50%;
    border: 3px solid #fff;
}

.row.m-row--col-separator-xl > div {
    border-bottom: 0;
    border-right: 1px solid #ebedf2;
}
/* THEME CSS ENDS HERE */

.mlmlogotext {
    font-size: 45px;
    font-weight: 900;
    color: #3d4246;
}

.searchbtn {
    border-radius: 0px 4px 4px 0px;
    background: linear-gradient(to right, #3F3F3F, #848484, #070707);
    border: 1px solid #656565;
}

.borderedbtn {
    color: #848484 !important;
}

.btn-outline-focus {
    color: #00d2d3;
    background-color: transparent;
    background-image: none;
    border-color: #848484;
}

.btn-outline-focus.focus,
.btn-outline-focus:focus,
.btn-outline-focus:hover {
    border-color: #848484;
    background: linear-gradient(to right, #3F3F3F, #848484, #070707);
    color: #fff;
}

.addbtn {
    color: #fff !important;
    background: #f6a14c;
    text-align: center !important;
}

.addbtn:hover {
    background: #fff;
    color: #f6a14c !important;
    border: 1px solid #f6a14c;
    text-align: center !important;
}

.epinuser i {
    color: #f6a14c !important;
}

.editbtn {
    background: #f6a14c;
    border-radius: 50px !important;
    color: #fff;
    margin-right: 5px;
    margin-top: 5px;
}

.editbtn:hover {
    background: #f6a14c;
    border-radius: 50px !important;
    color: #fff;
    margin-right: 5px;
    margin-top: 5px;
}

.deletebtn {
    background: #707070;
    border-radius: 50px !important;
    color: #fff;
    margin-right: 20px;
    margin-top: 5px;
}

.deletebtn:hover {
    background: #707070;
    border-radius: 50px !important;
    color: #fff;
    margin-right: 20px;
    margin-top: 5px;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #f6a14c;
    border-color: #f6a14c;
}

.page-link {
    color: #f6a14c;
}

.prof-list-det {
    display: block;
    position: relative;
    margin: 15px 20px;
}

.prof-list-det span.users-det-icon {
    position: absolute;
    top: 0;
    left: 0;
    color: #f6a14c;
    font-size: 16px;
}

.prof-list-det p.users-det {
    padding-left: 25px;
    margin-bottom: 0px;
    color: #575962;
    font-size: 16px;
}

.prof-list-det p.users-det a {
    color: #575962;
    font-size: 16px;
}

.mdl-cls-btn {
    position: absolute;
    font-size: 12px;
    width: 30px;
    height: 30px;
    line-height: 33px;
    padding: 0px !important;
    background-color: #fff !important;
    color: #424242;
    border-radius: 50px;
    border: 1px solid #fff !important;
    z-index: 9999999;
    opacity: 1;
    top: -10px;
    right: -12px;
    box-shadow: inset 0px 0px 1px 2px;
}

.mdl-cls-btn:hover {
    background-color: #fff !important;
    color: #424242;
    opacity: 1;
}

.mdl-body-p0 {
    padding: 0px !important;
}

.prof-det-img-sec {
    background: linear-gradient(to right, #3F3F3F, #848484, #070707);
    padding: 10px;
    text-align: center;
}




/*Admin Added CSS*/
#succsmsg {
    visibility: hidden;
    min-width: 250px;
    background-color: #25D366;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 10px 30px;
    position: fixed;
    z-index: 100000;
    left: 45%;
    bottom: 30px;
    font-size: 16px;
}

#errormsg {
    visibility: hidden;
    min-width: 250px;
    background-color: #F44336;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 8px 10px;
    position: fixed;
    z-index: 100000;
    left: 45%;
    bottom: 30px;
    font-size: 15px;
}

#errormsg.show,
#succsmsg.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.errfield {
    border: 2px solid red !important;
}

.shakeip {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

.fa-spinner {
    font-size: 20px;
}

.pointer {
    cursor: pointer;
}

.errorBorder{
    border-bottom: 1px solid rgb(253, 29, 29) !important;
}