/* THEME CSS STARTS HERE */

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

body {
    font-family: 'Libre Baskerville', serif;
}

.top-transparent .navbar-expand-md .navbar-nav .nav-item,
.top-transparent .navbar-expand-lg .navbar-nav .nav-item {
    padding: 10px 3px;
}

.navbar-expand-md .navbar-nav .nav-link,
.navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px 10px;
    border-radius: 3px;
    color: #3d4246;
    font-weight: 400;
    transition: all .3s;
}

.top-transparent .navbar-brand {
    background: transparent !important;
    padding: 10px 0px;
    width: 130px;
    margin: 0;
}

.copyright-wrap {
    margin-top: 0px;
    color: #3d4246;
    font-size: 0.75rem;
    background: #fff;
}

h2.mb-4.fw-7 {
    color: #3d4246;
}

p {
    color: #69727b;
}

.heading-main span {
    color: #3d4246;
    text-transform: uppercase;
    padding-bottom: 5px;
    display: block;
    font-size: 0.875rem;
    font-weight: 700;
}

.heading-main {
    color: #3d4246;
    font-size: 2.25rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 70px;
}

.blog-warp h4 a {
    color: #3d4246;
}

.blog-warp h4 a:hover {
    color: #3d4246;
}

.top-transparent .navbar-nav .active .nav-link,
.top-transparent .navbar-nav .active .nav-link:hover,
.top-transparent .navbar-nav .nav-item:hover > a,
.top-transparent .navbar-nav .nav-link:hover {
    background: transparent;
    color: #3d4246;
    text-decoration: underline;
}

.footer-subscribe .head span {
    color: #3d4246;
    font-size: 11px;
}

.footer-subscribe .head {
    font-size: 12px;
    color: #3d4246;
    text-transform: uppercase;
    font-weight: 600;
}

.icon-box-4:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 0;
    height: 5px;
    background: linear-gradient(to right, #3F3F3F, #848484, #070707);
    width: 0;
    transition: width .3s;
    z-index: 99;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.5s ease;
}

#mkdf-back-to-top {
    background: linear-gradient(to right, #3F3F3F, #848484, #070707);
}

.top-transparent.fixed nav {
    box-shadow: 0px 2px 10px 0px rgb(247, 248, 248);
}

#pageloader {
    background: #FFF;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 999999;
    color: #333;
    font-style: italic;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    top: 0;
    background: #3F3F3F url(../images/bg-wave.svg) no-repeat;
    background-size: contain;
    background-position: bottom center;
}

.breadcrumbs-page {
    margin-top: 0px;
}
.icons-listing.w-half li {
    flex: 1 1 100%;
    color: #3d4246;
}
.top-border {
    background: #FFF;
    border-bottom: 1px solid #e8e9eb;
}
/* THEME CSS ENDS HERE */
.bg-custom {
    background: rgba(105, 114, 123, 0.05);
}

.copyright-wrap a,
.copyright-links a:hover {
    color: #3d4246;
}

.btn-gradient {
    background: linear-gradient(to right, #3F3F3F, #848484, #070707);
}
.howitworks-sec {
    padding: 7rem 0 2rem 0;
}
li.active-menu a {
    text-decoration: underline;
}